{% extends 'layouts/default.html.twig' %}

{% block main %}
    <h1>Current post data</h1>
    <p class="lead">{{ post.id }}</p>
    <p class="lead">{{ post.title }}</p>
    <p class="lead">{{ post.description }}</p>
{% endblock %}